USE [master]
GO
/****** Object:  Database [BI07_STAGE]    Script Date: 08/12/23 12:34:20 SA ******/
CREATE DATABASE [BI07_STAGE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BI07_STAGE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BI07_STAGE.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BI07_STAGE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BI07_STAGE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BI07_STAGE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BI07_STAGE]
GO
/****** Object:  Table [dbo].[city]    Script Date: 08/12/23 12:34:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city](
	[Branch] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 08/12/23 12:34:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[ProductID] [nvarchar](255) NULL,
	[Unit price] [float] NULL,
	[ProductLine] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_line]    Script Date: 08/12/23 12:34:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_line](
	[Product line] [nvarchar](255) NULL,
	[ProductLineID] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[supermarket_sales]    Script Date: 08/12/23 12:34:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[supermarket_sales](
	[Invoice ID] [nvarchar](255) NULL,
	[Branch] [nvarchar](255) NULL,
	[Customer type] [nvarchar](255) NULL,
	[Gender] [nvarchar](255) NULL,
	[ProductID] [nvarchar](255) NULL,
	[Quantity] [int] NULL,
	[Tax 5%] [float] NULL,
	[Total] [float] NULL,
	[Date] [date] NULL,
	[Time] [time](7) NULL,
	[Payment] [nvarchar](255) NULL,
	[cogs] [float] NULL,
	[gross margin percentage] [float] NULL,
	[gross income] [float] NULL,
	[Rating] [float] NULL,
	[SOURCE_ID] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
