USE [master]
GO
/****** Object:  Database [BI07_METADATA]    Script Date: 07/12/23 9:07:02 SA ******/
CREATE DATABASE [BI07_METADATA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BI07_METADATA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BI07_METADATA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BI07_METADATA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BI07_METADATA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BI07_METADATA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BI07_METADATA]
GO
/****** Object:  Table [dbo].[DATA_FLOW]    Script Date: 07/12/23 9:07:02 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATA_FLOW](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SOURCE_NAME] [varchar](30) NULL,
	[LSET] [datetime] NULL,
	[CET] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
